body {background-color: #EEE8F7; color: #201020;}
a:visited {color: #76377D;}
a:active {color:#FF9900;}
a:link {color: #442367;}
img {border-style: none;}
.PAGE {width: 100%; border-style: none; padding: 0%; text-align: center; border-collapse: collapse;}
.TOP {background-color: #A981D3;}
.TOP_HOME {width: 20%;}
.TOP_TITLE {color: #EEE8F7; font-size: 150%;}
.MENU {vertical-alignment: top; width: 20%; text-align: left; background-color: #DFCFEF; padding: 5px; padding-left: 10px;}
.MENU_LIST {padding-bottom: 10px;}
.MENU_ITEM {}
.MENU_LINK {}
.MENU_ICON {}
.MENU_TEXT {padding-left: 5px;}
.CONTENT {padding: 5px; text-align: left;}
.BANNER_TOP {}
.BANNER_BOTTOM {font-size: 80%; }
.VERSION {background-color: #DFCFEF; padding-top: 15px; padding-bottom: 15px; font-size: 75%;}
.CENTER {text-align: center; margin-left: auto; margin-right: auto;}
.RIGHT {text-align: right;}
.COL1 {color: #442367;}
.COL2 {color: #A981D3;}